<div class="vscard">
    <div class="fn org">Modern Musician</div>
    <div class="adr">
        <div class="street-address">12345 Google Way Ave</div>
        <div>
            <span class="locality">Beach Town</span>
            <abbr class="region" title="California">CA</abbr>
            <span class="postal-code">93456</span>
        </div>
        <div class="country-name">USA</div>
    </div>
    <div>Phone: <span class="tel">+1-555-555-1212</span></div>
    <div>Email: <span class="email">infor@modernmusician.com</span></div>
</div>